name: Python Distribution
on:
  workflow_dispatch:
    inputs:
      python_version:
        description: Python version
        default: '3.13'
        required: true
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ inputs.python_version }}
          cache: 'pip'

      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip build wheel virtualenv setuptools
          pip install -r requirements_headless.txt --only-binary av,opencv-python-headless

      - name: Build Package
        shell: bash
        run: python -m build -w

      - name: Upload Package
        uses: actions/upload-artifact@v4
        with:
          name: scene-detect.zip
          path: |
            dist/*.whl
